@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

body {
  background: #e3e5e6;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.main {
  ::-webkit-scrollbar {width: 5px;}
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #4a586e; border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #4a586e;
  }
}


